<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogbuy.security.admin.modules.sys.repository.SysDeptRoleMapper">
  <resultMap id="BaseResultMap" type="com.gogbuy.security.admin.modules.sys.entity.SysDeptRole">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="dept_id" jdbcType="VARCHAR" property="deptId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_id, dept_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dept_role
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_dept_role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysDeptRole">
    insert into sys_dept_role (id, role_id, dept_id
      )
    values (#{id,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{deptId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysDeptRole">
    insert into sys_dept_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysDeptRole">
    update sys_dept_role
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysDeptRole">
    update sys_dept_role
    set role_id = #{roleId,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <delete id="deleteByDeptId" parameterType="string">
    DELETE FROM sys_dept_role WHERE  dept_id = #{deptId}
  </delete>
  <delete id="deleteByRoleId" parameterType="string">
    DELETE FROM sys_dept_role WHERE role_id = #{roleId}
  </delete>
  <select id="findByEntity" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysDeptRole" resultMap="BaseResultMap">
    SELECT * FROM sys_dept_role
    <where>
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="roleId != null">
        AND role_id = #{roleId,jdbcType=VARCHAR}
      </if>
      <if test="deptId != null">
        AND dept_id = #{deptId,jdbcType=VARCHAR}
      </if>
    </where>

  </select>
</mapper>