<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogbuy.security.admin.modules.sys.repository.SysDeptMapper">
  <resultMap id="BaseResultMap" type="com.gogbuy.security.admin.modules.sys.entity.SysDept">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="org_code" jdbcType="VARCHAR" property="orgCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_id, dept_name, order_num, description, del_flag, org_code, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dept
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_dept
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysDept">
    insert into sys_dept (id, parent_id, dept_name, 
      order_num, description, del_flag, 
      org_code, create_time)
    values (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{delFlag,jdbcType=INTEGER}, 
      #{orgCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysDept">
    insert into sys_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="orgCode != null">
        org_code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysDept">
    update sys_dept
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="orgCode != null">
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysDept">
    update sys_dept
    set parent_id = #{parentId,jdbcType=VARCHAR},
      dept_name = #{deptName,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER},
      org_code = #{orgCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getDeptByUserId" parameterType="string" resultMap="BaseResultMap">
    SELECT d.* FROM sys_dept d,sys_user_dept ud WHERE d.id=ud.dept_id AND ud.user_id=#{userId} ORDER BY order_num ASC
  </select>
  <select id="findByEntity" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysDept" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM sys_dept
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="parentId != null">
        AND parent_id = #{parentId,jdbcType=VARCHAR}
      </if>
      <if test="deptName != null">
        AND dept_name = #{deptName,jdbcType=VARCHAR}
      </if>
      <if test="orderNum != null">
        AND order_num = #{orderNum,jdbcType=INTEGER}
      </if>
      <if test="description != null">
        AND description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="delFlag != null">
        AND del_flag = #{delFlag,jdbcType=INTEGER}
      </if>
      <if test="orgCode != null">
        AND org_code = #{orgCode,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    ORDER BY order_num ASC
  </select>
  <select id="findByParentId" parameterType="string" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM sys_dept
    WHERE parent_id = #{parentId} ORDER BY order_num ASC
  </select>
</mapper>