<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogbuy.security.admin.modules.sys.repository.SysElementMapper">
  <resultMap id="BaseResultMap" type="com.gogbuy.security.admin.modules.sys.entity.SysElement">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, type, name, uri, method, menu_id, description, create_by, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_element
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_element
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysElement">
    insert into sys_element (id, code, type, 
      name, uri, method, 
      menu_id, description, create_by, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{uri,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, 
      #{menuId,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysElement">
    insert into sys_element
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="uri != null">
        uri,
      </if>
      <if test="method != null">
        method,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="uri != null">
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysElement">
    update sys_element
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="uri != null">
        uri = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysElement">
    update sys_element
    set code = #{code,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      uri = #{uri,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      menu_id = #{menuId,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <delete id="deleteByMenuId" parameterType="string">
    DELETE FROM sys_element WHERE menu_id = #{menuId}
  </delete>
  <select id="findByMenuId" parameterType="string" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM sys_element WHERE menu_id=#{menuId}
  </select>
  <select id="findByEntity" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysElement" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM sys_element
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="code != null">
        AND code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        AND name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="uri != null">
        AND uri = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        AND method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        AND menu_id = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        AND description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        AND create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </where>
  </select>
</mapper>