<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogbuy.security.admin.modules.sys.repository.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.gogbuy.security.admin.modules.sys.entity.SysRole">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="role_value" jdbcType="VARCHAR" property="roleValue" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_name, remark, create_time, role_value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysRole">
    insert into sys_role (id, role_name, remark, 
      create_time, role_value)
    values (#{id,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{roleValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysRole">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="roleValue != null">
        role_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleValue != null">
        #{roleValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysRole">
    update sys_role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleValue != null">
        role_value = #{roleValue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysRole">
    update sys_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      role_value = #{roleValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="findRoleByUserId" parameterType="string" resultMap="BaseResultMap">
    SELECT sr.* FROM sys_role sr,sys_user_role ur WHERE sr.id=ur.role_id AND ur.user_id=#{userId}
  </select>
  <select id="findRoleByDeptId" parameterType="string" resultMap="BaseResultMap">
    SELECT r.* FROM sys_role r,sys_dept_role d WHERE r.role_id=d.role_id AND d.dept_id=#{deptId}
  </select>
  <select id="list" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysRole" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM sys_role
    <where>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleValue != null">
        role_value = #{roleValue,jdbcType=VARCHAR},
      </if>
    </where>
  </select>
  <select id="findOneByEntity" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysRole" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM sys_role
    <where>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR}
      </if>
      <if test="remark != null">
        AND remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="roleValue != null">
        AND role_value = #{roleValue,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>