<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogbuy.security.admin.modules.sys.repository.SysUserDeptMapper">
  <resultMap id="BaseResultMap" type="com.gogbuy.security.admin.modules.sys.entity.SysUserDept">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="dept_id" jdbcType="VARCHAR" property="deptId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, dept_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user_dept
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_user_dept
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysUserDept">
    insert into sys_user_dept (id, user_id, dept_id
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{deptId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysUserDept">
    insert into sys_user_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysUserDept">
    update sys_user_dept
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gogbuy.security.admin.modules.sys.entity.SysUserDept">
    update sys_user_dept
    set user_id = #{userId,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <delete id="deleteByUserId" parameterType="string">
    DELETE FROM sys_user_dept WHERE user_id = #{userId}
  </delete>
  <delete id="deleteByDeptId" parameterType="string">
    DELETE FROM sys_user_dept WHERE dept_id = #{deptId,jdbcType=VARCHAR}
  </delete>
  <select id="findUserDeptByUserId" parameterType="string" resultMap="com.gogbuy.security.admin.modules.sys.repository.SysDeptMapper.BaseResultMap">
    SELECT d.* FROM sys_user_dept ud,sys_dept d WHERE ud.dept_id = d.id AND ud.user_id = #{userId}
  </select>
</mapper>